
#challengeOptionContainer {
    margin: 3%;
    width: 80%;
    height: 10%;
    display: flex;
    justify-content: space-evenly;
}


.challengeOption {
    width: 30%;
    padding: 0.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(35, 56, 91);
    border: 3px solid white;
    color: white;
}

.challengeOption h1 {
    display: inline-block;
    margin: 0;
}

.challengeOption:hover{
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.7); /* Adjust the values as needed */
    cursor: pointer;
}


.focusedChallengeOption {
    width: 30%;
    padding: 0.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: 3px solid black;
    color: rgb(35, 56, 91);
    box-shadow: 0 0 26px rgba(0, 0, 0, 0.7); /* Adjust the values as needed */
    transform: scale(1.1);
}

.focusedChallengeOption h1 {
    display: inline-block;
    margin: 0;
}

.focusedChallengeOption:hover{
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.7); /* Adjust the values as needed */
    cursor: pointer;
}

