.contentContainer {
    max-width: 1200px; /* Adjust this value based on your layout */
    margin: 0 auto; /* Center the container horizontally */
    padding-top: 20px; /* Adjust this value based on your header height */
}

.AdminPanel {
    width: calc(50% - 16px); /* Set the width to 50% minus some padding */
    margin-right:20px;
}
@media (max-width: 600px) {
    .AdminPanel {
      width: calc(100% - 16px); /* On smaller screens, set the width to 100% minus padding */
      margin: 0 8px; /* Add some margin for spacing */
    }
}
.adminPage {
  background-color: rgb(35, 56, 91);

}
.addProblemButton {
  width: 30%;
  padding: 0.5%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(35, 56, 91);
  border: 3px solid white;
  color: white;
}
.addProblemButtonContainer {
    margin-bottom: 2%;
    display: flex;
    justify-content: center
}
.addProblemButton:hover {
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.7); /* Adjust the values as needed */
  cursor: pointer;
}

.deleteIcon {
  transition: transform 0.2s;
}

.deleteIcon:hover {
  transform: rotate(-10deg) scale(1.2);
}