
#ChallengeSelectMenuContainer {
    margin: 3%;
    width: 80%;
    height: 10%;
    display: flex;
    justify-content: space-evenly;
}


.ChallengeSelectMenu {
    width: 30%;
    padding: 0.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(35, 56, 91);
    border: 3px solid white;
    color: white;
}

.ChallengeSelectMenu h1 {
    display: inline-block;
    margin: 0;
}

.ChallengeSelectMenu:hover{
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.7); /* Adjust the values as needed */
    cursor: pointer;
}


.focusedChallengeSelectMenu {
    width: 30%;
    padding: 0.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: 3px solid black;
    color: rgb(35, 56, 91);
    box-shadow: 0 0 26px rgba(0, 0, 0, 0.7); /* Adjust the values as needed */
    transform: scale(1.1);
}

.focusedChallengeSelectMenu h1 {
    display: inline-block;
    margin: 0;
}

.focusedChallengeSelectMenu:hover{
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.7); /* Adjust the values as needed */
    cursor: pointer;
}

