.header-container {
    display: flex;
    justify-content: center; /* Center the content horizontally */
    align-items: center; /* Center the content vertically */
    height: 15vh; /* Set a fixed height */
    border-bottom: 4px solid rgb(0, 0, 0);
    cursor:pointer; 
  }
  
  .logo {
    width: 50%; /* Set width as desired */
    height: auto; /* Maintain aspect ratio */
  }
#headerImage {
  display: flex; 
  justify-content: center; 
  align-items: center;
}
#secretButton {
  padding: 10px 20px;
  font-size: 16px; 
  background-color: transparent;
  border: none; 
  color: transparent; 
  outline: none; 
  cursor:progress;
}