.header-container {
    display: flex;
    justify-content: center; /* Center the content horizontally */
    align-items: center; /* Center the content vertically */
    height: 15%; /* Set a fixed height */
    border-bottom: 2px solid black;
  }
  
  .logo {
    width: 50%; /* Set width as desired */

    height: auto; /* Maintain aspect ratio */
  }