.container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .title {
    border: 1px solid #ccc; /* Add border to title section */
    padding: 20px; /* Add padding for better spacing */
    width: 80%; /* Set a width to prevent it from stretching too wide */
    box-sizing: border-box; /* Include padding and border in the width calculation */
    margin-bottom: 20px; /* Adjust as needed */
    margin-top: 20px;
  }
  
  .box-container {
    display: flex;
    justify-content: space-between;
    width: 80%; /* Set a width to prevent it from stretching too wide */
  }
  
  .content {
    border: 1px solid #ccc; /* Add border to content sections */
    padding: 20px; /* Add padding for better spacing */
    width: calc(50% - 10px); /* Set width for content sections */
    box-sizing: border-box; /* Include padding and border in the width calculation */
  }
  
  #problemName {
    text-align: center; /* Center the text within #problemName */
    font-size: 2em;
  }
  